.taskCard {
    margin-top: 10px;
    margin-bottom: 10px;

    min-height: 115px;
    display: flex;
}

.taskCard:hover .hiddenButton {
    visibility: visible;
}

.hiddenButton {
    visibility: hidden;
}

.taskIcon {
    text-align: center;
}
