.statsCard {
    margin-top: 10px;
    padding-top: 12px;
    padding-bottom: 6px;
}

.statsTitle {
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
}

.statsText {
    width: 90%;
    margin: auto;
}
