.TasksGraph {
  max-height: fit-content;

  margin-top: 10px;
  padding-top: 12px;
}

.graphTitle {
  text-align: center;
  font-size: 20px;

  padding-bottom: 10px;
}

.barGraph {
  padding-top: 25px;
  padding-left: 4%;
  padding-right: 4%;
}

.graphButtons {
  float: right;

  margin-top: 10px;
  margin-bottom: 16px;
  margin-right: 2%;
}
